<div id='container' *ngIf='libro'>
<div class="row">
  <div class="col-md-4">
   	<div class="panel panel-default">
  		<div class="panel-body"><img class="img-responsive" [src]="portadas[id]"></div>
  		<div class="panel-footer">{{name_ESP}}</div>
	</div>
  </div>
<div class="col-md-6">
	<ul>
	<li>Titulo Original: <span>{{libro.name}}</span></li>
	<li>Fecha de Salida Original: <span>{{fecha}}</span></li>
	<li>Paginas: <span>{{libro.numberOfPages}}</span></li>
	<li>Editorial Original: <span>{{libro.publisher}}</span></li>
	</ul>
</div>
</div>
</div>
