<nav class="navbar navbar-default">
	  <div class="container-fluid">
		<ul class="nav navbar-nav">
		  <li><a id='home' class='menuCabecera' [routerLink]="['/home']"></a></li>
		  <li routerLinkActive='active'><a  class='menuCabecera' [routerLink]="['/libros']">LIBROS</a></li>
		  <li routerLinkActive='active'><a class='menuCabecera' [routerLink]="['/casas']">Casas</a></li>
		  <li routerLinkActive='active'><a class='menuCabecera' [routerLink]="['/personajes']">Personajes</a></li>
		</ul>
	  </div>
	</nav>