<div class='row'>
<div class="col-sm-1">
<ul class="pager">
	<li class="previous"><button type="button" class="btn btn-default btn-lg" (click)="pag_anterior($event)" [disabled]="pagina == 1"><span class="glyphicon glyphicon-chevron-left"></span></button></li>
</ul>
</div>
<div class="container col-sm-10">
<div *ngIf="pjs.length==0">cargando ...</div>
<div id='contenedorPjs' *ngIf="pjs.length!=0"> 
	<div class='col-sm-4' *ngFor="let pj of pjs">
	<ul class="list-group" id='datosCasa'>
  		<li class="list-group-item nombre" *ngIf="pj.name.length!=0">{{pj.name}}</li>
  		<li class="list-group-item nombre"  *ngIf="pj.name.length==0">{{pj.aliases[0]}} <span id='aviso'>Nombre real desconocido</span></li>
		<li class="list-group-item" *ngIf="pj.gender.length!=0"><span>Genero:</span><p>{{pj.gender}}</p></li>
		<li class="list-group-item" *ngIf="pj.gender.length==0"><span>Genero:</span><p>Desconocido</p></li>
		<li class="list-group-item" *ngIf="pj.culture.length!=0"><span>Cultura:</span><p>{{pj.culture}}</p></li>
		<li class="list-group-item" *ngIf="pj.culture.length==0"><span>Cultura:</span><p>Desconocido</p></li>
		<li class="list-group-item" *ngIf="pj.born.length!=0"><span>Nacimiento:</span><p>{{pj.born}}</p></li>
		<li class="list-group-item" *ngIf="pj.born.length==0"><span>Nacimiento:</span><p>Desconocido</p></li>
 		<li class="list-group-item" *ngIf="pj.titles.length!=0"><span>Titulos:</span>
			<ul><li *ngFor='let titulo of pj.titles'>{{titulo}}</li></ul></li>
	<li class="list-group-item" *ngIf="pj.titles.length==0"><span>Titulos:</span><p>Desconocido</p></li>
 		<li class="list-group-item" *ngIf="pj.aliases.length>=2"><span>Otros nombres:</span><ul><li *ngFor='let alias of pj.aliases'>{{alias}}</li></ul></li>
	<li class="list-group-item" *ngIf="pj.aliases.length<=2"><span>Otros Nombres </span><p>Desconocido</p></li>
 		<li class="list-group-item" *ngIf="pj.tvSeries.length!=0"><span>Temporadas:</span><ul><li *ngFor='let temp of pj.tvSeries'>{{temp}}</li></ul></li>
	<li class="list-group-item" *ngIf="pj.tvSeries.length==0"><span>Temporadas:</span><p>Desconocido</p></li>
	<li class="list-group-item" *ngIf="pj.playedBy.length!=0"><span>Actor:</span><p>{{pj.playedBy}}</p></li>
	<li class="list-group-item" *ngIf="pj.playedBy.length==0"><span>Actor:</span><p>Desconocido</p></li>
	</ul>
	</div>
</div>
</div>
<div class='col-sm-1'>
	<ul class="pager">
	<li class="next"><button type="button" class="btn btn-default btn-lg" (click)="pag_siguiente($event)"><span class="glyphicon glyphicon-chevron-right"></span></button></li></ul>
</div>
</div>