@font-face {
  font-family: 'fuenteGot';
  src: url('../../font/got.ttf');
}

button{
	border-radius: 50%;
}

button:focus {outline:0 !important;}

button:active {outline:0 !important;}

.previous{
	margin-left: 25%;
}

.next{
	margin-left: -25%;
}

.glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-chevron-right {
    font-size: 50px;
}

ul.list-group, li.list-group-item{
	background-color: rgba(255, 255, 255, 0.5);
}



li.nombre{
	text-align: center;
	font-family: 'fuenteGot';
	font-size: 17px;
	color: #e5ae2d;
}

.list-group-item > span{
	float: left;
	font-family: 'fuenteGot';
	color: #e5ae2d;
	margin-right: 5%;
}

.list-group-item > p, .list-group-item > ul{
	display: inline-block;
	font-family: 'fuenteGot';
	font-size: 12px;
	color: black;
}

#aviso{
	color: grey;
	font-size: 8px;
	text-align: inherit;
}